<div id="contact">
    <h2>Contact Us</h2>
    <form id="contactForm">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <div class="valid-email">Please enter a valid email.</div>
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send Message</button>
        <div class="success-message">Message sent successfully!</div>
        <div class="error-message">Oops! Something went wrong.</div>
    </form>
</div>
    
<style is:global>
    .valid-email,
    .success-message,
    .error-message {
        position: absolute;
        display: none;
    }
    
    #contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #FFE8D6;
        color: #a42642;
    }
    #contactForm {
        width: 100%;
        max-width: 700px;
    }
    input, textarea {
        margin-bottom: 20px;
        box-sizing: border-box;
        width: 100%;
        border: 2px solid #a42642;
        border-radius: 5px;
        font-size: 16px;
    }
    
    textarea {
        resize: vertical;
        min-height: 100px;
    }
    
    button {
        width: 100%;
        background: #eba15d;
        font-size: 16px;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px
    }
    
    button:hover {
        background-color: #0056b3;
    }
</style>
<script>
    const form = document.getElementById('contactForm');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      try {
        const response = await fetch('https://formspree.io/f/YOUR_FORM_ID', {
          method: 'POST',
          headers: { 'Accept': 'application/json' },
          body: formData
        });

        if (response.ok) {
          form.reset();
          document.querySelector('.success-message').style.display = 'block';
          document.querySelector('.error-message').style.display = 'none';
        } else {
          throw new Error('Network response was not ok.');
        }
      } catch (error) {
        document.querySelector('.success-message').style.display = 'none';
        document.querySelector('.error-message').style.display = 'block';
      }
    });
</script>