<section id="title">
	<div style="width: 60%">
		<h1>Smart, simple solutions for local businesses</h1>
	</div>
	<div>text goes here</div>
</section>
<section id="about">
	<h2>About us</h2>
	<p>we do stuff such as:</p>
	<ul>
		<li>thing one</li>
		<li>thing two</li>
	</ul>
</section>

<style is:global>
	#title {
		background: var(--background);
		display: flex;
		align-items: center;
		height: 400px;
		padding: 100px;
	
	}
	h1 {
		font-size: 50px;
		color: #80604f;
	}
	h2 {
		font-size: 30px;

	}
	#about {
		text-align: center;
		background: #FFBF69
	}
</style>