<div id="navbar">
    <nav>
        <a href="#About us">About</a>
        <a href="#Contact">Contact</a>
    </nav>
</div> 

<style is:global>
    #navbar {
        background-color: #FFE8D6;
        padding-top: 10px;
    }
    #navbar nav {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    #navbar nav a {
        color: #d34747;
        text-decoration: none;
        font-weight: bold;
    }
    #navbar nav a:hover {
        color: #a42642;
    }
</style>