<!doctype html>
<html lang="en">
<head>
	<meta name="title" content="MNY Associates">
	<meta name="description" content="Counsulting and software solutions for small businesses">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="MNY Associates">
	<meta property="og:description" content="Consulting and software solutions for small businesses">
	<title>MNY Associates</title>
</head>
<body>
	<slot />
</body>
</html>

<style is:global>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	
	body {
		margin: 0;
		font-family: Inter, system-ui, sans-serif;
		line-height: 1.6;
	}
	:root {
		--light: #FFE8D6;
		--dark: #403028;
	}
</style>
